//approved colours
$brandcolor_blue: #222288;
$brandcolor_blue_dark: #1b1865;
$brandcolor_lilac: #726ad0;
$brandcolor_lilac_on_blue: #aaa4ff;
$brandcolor_yellow: #fac000;
$brandcolor_green: #37b880;
$brandcolor_red: #da3e4b;