.container {
	&.main {
		header {
			height:$navigationbar_height;
			background-color:rgba(white, 0.9);
			border-bottom:1px solid $stroke-color;
			
			button {
				position:absolute;
				right:12px;
				bottom: 8px;
				text-align:right;
			}
		}
	}
	&.secondary {
		header {
			height:$receiptbar_height;
			background-color:rgba(white, 0.9);
			border-bottom:1px solid $stroke-color;
			display:block;
			width:100%;
			position:fixed;
			top:0;
			button {
				position:absolute;
				left:12px;
				bottom: 7px;
				text-align:right;
				width:30px;
				position:relative;
				&:before {
					left:0;
					bottom:-48px;
					position:absolute;
				}
			}
			
		}
	}
	header {
		position:fixed;
		width:100vw;
		color:white;
		z-index:100;
		h1 {
			position:absolute;
			width:100%;
			box-sizing:border-box;
			left:0;
			bottom:15px;
			padding:0 $sidemargin;
			font-size:1.1em;
			text-align:center;
			letter-spacing:-0.03em;
			font-weight:1000;
			color:#222;
		}
		button {
			display:inline;
			@include appearance(none);
			padding:0;
			margin:0;
			border:none;
			color:#222;
			font-size:28px;
			line-height:auto;
			background-color:transparent;
			height:auto;
		}
	}
	&.overlay {
		header {
			button {
				width:auto;
				color:$blue;
				bottom:4px;
				position:absolute;
				margin:0;
				font-size:1em;
				padding:10px $sidemargin;
				&:first-of-type {
					left:0;
				}
				&:last-of-type {
					right:0;
				}
			}
			position:relative;
			top:0;
			left:0;
			width:100%;
			bottom:auto;
			height:$navigationbar_height;
			h1 {
				text-align:center;
			}
			.close {
				font-size:1em;
			}
		}
	}
}